body {
    color: white;
    font-family: sans-serif;
    margin: 0;
	padding: 0;
	background-image: url('https://github.com/Celery-Bot/celerybot.xyz/blob/main/public/web/stuffs/background.png?raw=true');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.topbar {
    backdrop-filter: blur(30px);
    background-color: rgba(0, 0, 0, 0.2);
    padding: 5px;
    width: calc(100% - 50px);
    height: 50px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
}

.logo {
    width: 50px;
    height: auto;
    display: block;
}

a {
	text-decoration: none;
	color: white;
	background: linear-gradient(to right, transparent 50%, white 50%);
	background-size: 200% 100%;
	background-position: left;
	transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}

a:hover {
	color: black;
	background-position: right; /* This creates the swipe effect */
}
