body {
    color: white;
    font-family: sans-serif;
    margin: 0;
	padding: 0;
	background-image: url('../stuffs/background.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.topbar {
    backdrop-filter: blur(30px);
    background-color: rgba(0,0,0, 0.2);
    padding: 20px;
    width: calc(100% - 50px);
    height: 50px;
    border-radius: 35px;
}
